:root {
    --background-color: hsl(0, 4%, 10%);
    --color: hsl(0, 18%, 93%);
    --main-color: hsl(254, 41%, 12%);
    --main-dark-color: hsl(255, 27%, 26%);
    --main-light-color: hsl(251, 27%, 32%);
    --maain-lighter-color: hsl(254, 20%, 44%);
}