@use "../util/" as u;

h1, h2, h3 {
    letter-spacing: 0.5px;
    line-height: 1.1;
    margin-top: 0;
    font-size: u.rem(26);
}

p {
    margin-top: 0;
    font-size: u.rem(16);
}

a, a:visited, a:active {
    text-decoration: none;
    color: -webkit-linear-gradient(rgba(24, 18, 43, 0.8), rgba(100, 90, 135, 0.9));
}